html {
  font-size: 18px;
}

body {
  font-family: Helvetica;
  line-height: 1.2rem;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
}

/* Header */
header {
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
  padding-top: 1rem;
  color: white;
}
.navbar {
  display: flex;
  background-color: cadetblue;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10rem;
}
.logo {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
}
.logo img {
  height: 1.5rem;
}
.logo span {
  font-size: 1rem;
  padding-left: 1rem;
}
.menu {
  padding-right: 2rem;
}
.menu ul {
  display: flex;
}
ul li {
padding-left: 2rem;
}
.headline {
  display: flex;
  justify-content: flex-end;
  position: relative;
  left: 2rem;
}
.headline h1 {
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 2rem;
  padding: 2rem 5rem;
}

/* Services */
.support {
  display: flex;
  justify-content: center;
}
.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 8rem;
  width: 5rem;
  justify-content: space-between;
  margin: 3rem;
}
.service div {
  text-align: center;
}
.exams img {
  width: 3.5rem;
  height: auto;
}
.fittings img,
.delivery img {
  width: 5rem;
  height: auto;
}

/* Info */
.info {
  width: 35%;
  margin-right: 5%;
}
.title {
  width: 10rem;
  background-color: cadetblue;
}
.title h3 {
  padding: 0.5rem 1.25rem;
}
.info p {
  padding-top: 1rem;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  background-color: azure;
}

.footer {
  max-width: 960px;
  flex-grow: 1;
  align-items: center;
}

.footer img {
  height: 1.5rem;
  width: auto;
  padding: 4rem;
  padding-right: 1rem;
}
